/*home*/
@media only screen and (min-width:1000px) {
	.Second-menu > li > a > label, .Third-menu > li > a > label {
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (max-width:1000px) {
	.page-left {
		width: 40px;
	}

	.left-content {
		width: 40px;
		padding: 0;
	}

	.first-menu {
		display: none;
	}

	.Second-menu li {
		line-height: 30px;
		position: relative;
	}

	.Second-menu > li > a > i.icon {
		margin-right: 0;
	}

	.Second-menu > li > a > label, .Third-menu > li > a > label {
		display: none;
	}

	.propupReversal {
		background: #000 !important;
		color: #fff;
	}

	.Second-menu > li > a > span.dot {
		margin-right:0;
		position: absolute;
		top: -4px;
		right: 8px;
	}

	.page-right {
		margin-left: 40px;
	}
}


@media only screen and (max-width:768px) {
	.pc {
		/*隐藏PC元素*/
		display: none !important;
	}

	.mb {
		/*显示移动元素*/
		display: block !important;
	}
}


@media only screen and (max-width:600px) {
	/*.ui.mini.breadcrumb.crumbs {
		display: none;
	}*/
}

@media only screen and (max-width:414px) {
	.header-top > .ui.secondary.menu > .item:first-child {
		display: none;
	}

	.ui.table tr td {
		text-align: left;
	}
}
