/*home*/
@media only screen and (min-width:1000px) {
	.Second-menu > li > a > label, .Third-menu > li > a > label {
		width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (max-width:1000px) {
	.page-left {
		width: 60px;
	}

	.left-content {
		width: 60px;
	}

	.first-menu {
		display: none;
	}

	.Second-menu li {
		line-height: 30px;
		position: relative;
	}

	.Second-menu > li > a > i.icon {
		margin-right: 0;
	}

	.Second-menu > li > a > label, .Third-menu > li > a > label {
		white-space: nowrap;
		padding: 0 10px;
		border-radius: 5px;
		background: #000;
		color: #fff;
		position: absolute;
		top: 0;
		left: -300px;
		z-index: 2;
		transition: left .3s;
	}

	.Second-menu > li > a > label:after, .Third-menu > li > a > label:after {
		position: absolute;
		top: 9px;
		left: -7px;
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-right: 7px solid #000;
		border-bottom: 5px solid transparent;
	}

	.Second-menu > li > a > span.dot {
		margin-right: 0;
	}

	.Second-menu > li > a:hover > label, .Third-menu > li > a:hover > label {
		animation: leftmenu .3s forwards;
	}

	/*左边菜单提示动画*/
	@keyframes leftmenu {
		0% {
			left: 100px;
		}

		100% {
			left: 60px;
		}
	}

	.page-right {
		margin-left: 60px;
	}
}


@media only screen and (max-width:768px) {
	.pc {
		/*隐藏PC元素*/
		display: none !important;
	}

	.mb {
		/*显示移动元素*/
		display: block !important;
	}
}


@media only screen and (max-width:600px) {
	/*.ui.mini.breadcrumb.crumbs {
		display: none;
	}*/
}

@media only screen and (max-width:414px) {
	.header-top > .ui.secondary.menu > .item:first-child {
		display: none;
	}

	.ui.table tr td {
		text-align: left;
	}
}
