* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	height: 100%;
}

html, body, .page {
	width: 100%;
	height: 100%;
}

body {
	font: 14px 'Helvetica Neue','Microsoft YaHei','Hiragino Sans GB','WenQuanYi Micro Hei',Helvetica,Arial,Sans-serif;
	color: #444;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.ui.grid {
	margin: 0;
}

.header-top {
	height: 60px;
	padding: 5px;
}

/*LOGO*/
.logo {
	width: 190px;
	height: 50px;
}

.logo > img {
	height: 100%;
	max-width: 100%;
}

.header-top > .ui.secondary.menu {
	height: 50px;
}

.header-top > .ui.secondary.menu > .item > i.icon {
	margin: 0;
}

.header-top .right.item .item {
	margin-right: 10px;
}

.usermenu {
	margin-right: 10px;
}

.usermenu.ui.dropdown .menu .item {
	border-radius: 0;
}

.usermenu.ui.dropdown > .text {
	margin-left: 10px;
}

.usermenu.ui.dropdown > .text > img {
	margin: 0;
}

.usermenu.ui.dropdown > .dropdown.icon {
	margin: 0;
}

.nickname {
	font-weight: 600;
	vertical-align: middle;
	max-width: 100px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mb {
	display: none !important;
}

/*main*/
.main {
	width: 100%;
	height: calc(100% - 60px);
	background: #ebebeb;
}

/*左边菜单*/
.page-left {
	width: 200px;
	height: 100%;
	float: left;
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	position: relative;
	background: #fff;
}

/*移动端遮罩层*/
.left-bg {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}

/*菜单列表*/
.left-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding:10px;
	box-sizing:border-box;
}

.left-content > ul {
	width:100%;
	margin-top: 10px;
}

.left-content > ul > li {
	width: 100%;
}

/*一级菜单*/
.first-menu {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #299aed;
	margin: 0;
}

/*二级菜单*/
.Second-menu > li {
	line-height: 30px;
	cursor: pointer;
}

.Second-menu > li > a {
	display: block;
	text-decoration: none;
	color: #999;
	padding-left: 10px;
	transition: background .3s,color .3s;
}

.Second-menu > li > a:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
/*二级菜单前面图标*/
.Second-menu > li > a > i.icon {
	display: block;
	float: left;
	margin-right: 10px;
}
/*二级菜单文字*/
.Second-menu > li > a > label {
	float: left;
	display: block;
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*二级菜单下有三级菜单显示小圆点*/
.Second-menu > li > a > span.dot {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.1);
}

.Second-menu > li:not(.Second-menu-selected):not(.Second-menu-selected2) > a:hover {
	background: #DEDEDE;
	color: #333;
}

/*选中样式*/
/*没有三级菜单*/
li.Second-menu-selected {
	background: #DEDEDE;
	position: relative;
}

li.Second-menu-selected > a {
	color: #333 !important;
}

li.Second-menu-selected > a:before {
	content: "";
	display: block;
	height: 20px;
	width: 3px;
	background: #00a700;
	position: absolute;
	top: 5px;
	left: 0px;
}

/*有三级菜单*/
li.Second-menu-selected2 {
	/*background: rgba(255, 216, 0, 0.1);*/
	/*border:1px solid rgba(255, 216, 0, 0.5);*/
}

li.Second-menu-selected2 > a {
	background:#dedede;
	color: #333 !important;
}

/*li.Second-menu-selected2 > a, li.Second-menu-selected2 > a + ul > li > a {
	color: #333 !important;
}*/

/*三级菜单*/
.Third-menu {
	display: none;
	background:#fff;
	border:2px solid #dedede;
	box-sizing:border-box;
}

.Third-menu > li > a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #999;
	transition: background .3s,color .3s;
}

.Third-menu > li > a > i.icon {
	margin-right: 10px;
	float: left;
}

.Third-menu > li > a > label {
	width: 130px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Third-menu > li > a:hover {
	background: rgba(255, 216, 0, 0.2);
	color:#333 !important;
}

.Third-menu > li > a.active {
	background: rgba(255, 216, 0, 0.2);
	color:#333 !important;
}

/*右边*/
.page-right {
	display: none;
	margin-left: 200px;
	height: 100%;
}

.right-top {
	padding: 10px;
	height: calc(100% - 30px);
	box-sizing: border-box;
}

/*右边标题*/
.right-header {
	min-height: 50px;
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 5px 5px 0 0;
}

.open-menu-title {
	font-family: "Microsoft YaHei";
	font-weight: normal;
	font-size: 1.4rem;
	float: left;
	margin: 0;
	margin-right: 20px;
}

.open-menu-title + .ui.breadcrumb.crumbs {
	margin-top: 12px;
}

.crumbs.ui.breadcrumb {
	color: #999;
}

.right-content {
	width: 100%;
	padding: 10px;
	height: calc(100% - 90px);
	box-sizing: border-box;
	background: #fff;
}

.right-content #frm {
	border: none;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.1);
	border-radius: 2px;
}

.right-footer {
	width: 100%;
	height: 40px;
	background: #fff;
	border-radius: 0 0 5px 5px;
}

/*Footer背景颜色*/
.footer {
	background: #fff;
	height: 30px;
	line-height: 30px;
}

/*Footer文字颜色*/
.footer p {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #666;
	text-align: center;
}
