* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	height: 100%;
}

html, body, .page {
	width: 100%;
	height: 100%;
}

body {
	font: 14px 'Helvetica Neue','Microsoft YaHei','Hiragino Sans GB','WenQuanYi Micro Hei',Helvetica,Arial,Sans-serif;
	color: #444;
	/*background-image: url(/images/theme/bg9.jpg);*/
	/*background:#fff;*/
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.ui.grid {
	margin: 0;
}

.header-top {
	height: 60px;
	padding: 5px;
	background:#3498DB;
}

/*LOGO*/
.logo {
	width: 190px;
	height: 50px;
	line-height:50px;
	text-align:center;
	font-size:2rem;	
	color:#fff;
	/*background:rgba(255,255,255,.2);*/
}

.logo > img {
	height: 100%;
	max-width: 100%;
}

.header-top > .ui.secondary.menu {
	height: 50px;
}

.header-top > .ui.secondary.menu > .item > i.icon {
	margin: 0;
}

.header-top .right.item .item {
	margin-right: 10px;
}

.usermenu {
	margin-right: 10px;
	/*color: #fff;*/
}

.pc > i.icon {
	/*color: #fff;*/
}

.usermenu.ui.dropdown .menu .item {
	border-radius: 0;
}

.usermenu.ui.dropdown > .text {
	margin-left: 10px;
}

.usermenu.ui.dropdown > .text > img {
	margin: 0;
}

.usermenu.ui.dropdown > .dropdown.icon {
	margin: 0;
}

.nickname {
	font-weight: 600;
	vertical-align: middle;
	max-width: 80px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mb {
	display: none !important;
}

/*main*/
.main {
	width: 100%;
	height: calc(100% - 60px);
}

/*左边菜单*/
.page-left {
	width: 200px;
	height: 100%;
	background:#fff;
	box-shadow:1px 1px 3px rgba(0,0,0,.1);
	float: left;
	position: relative;
}

/*菜单列表*/
.left-content {
	width: 200px;
	height: calc(100% - 50px);
	padding: 10px;
	padding-top:0;
	margin-top:10px;
	box-sizing: border-box;
	overflow:auto;
}

.left-content > ul {
	width: 100%;
}

.left-content > ul > li {
	width: 100%;
}

/*一级菜单样式*/
.first-menu {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	margin: 0;
	color:rgb(0, 148, 255);
}

.Second-menu {
	/*margin-bottom:10px;*/
}

/*二级菜单*/
.Second-menu > li {
	line-height: 30px;
	cursor: pointer;
}

.Second-menu > li > a {
	display: block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #666;
	padding-left: 10px;
	border-radius: 2px;
	transition: background .3s,color .3s;
}

.Second-menu > li > a:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
/*二级菜单前面图标*/
.Second-menu > li > a > i.icon {
	display: block;
	float: left;
	margin-right: 10px;
}
/*二级菜单文字*/
.Second-menu > li > a > label {
	float: left;
	display: block;
	cursor:pointer;
}
/*二级下面有三级的时候显示的小圆点*/
.Second-menu > li > a > span.dot {
	vertical-align: middle;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	background: rgba(51, 51, 51, 0.1);
}

/*二级悬停样式（已选中除外）*/
.Second-menu > li:not(.Second-menu-selected):not(.Second-menu-selected2) > a:hover {
	background: rgba(0,0,0,0.2);
}

/*选中样式*/
/*二级选中样式（无三级）*/
li.Second-menu-selected {
	background: rgba(0,0,0,0.2);
	position: relative;
	border-radius: 2px;
}

/*二级选中下面的A样式*/
li.Second-menu-selected > a {
	color:#111;
}

/*二级选中前面绿色竖线*/
li.Second-menu-selected > a:before,.Third-menu > li > a.active:before {
	content: "";
	display: block;
	height: 20px;
	width: 3px;
	background: #00a700;
	position: absolute;
	top: 5px;
	left: 0px;
}

/*二级选中样式（有三级）*/
li.Second-menu-selected2 {
	/*因为有三级，所以二级不能选中*/
}

/*三级菜单*/
.Third-menu {
	display: none;
	border-radius: 2px;
	background: #ebebeb;
	box-shadow:1px 1px 6px rgba(0,0,0,.2) inset;
}

.Third-menu > li > a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #666;
	cursor: pointer;
	transition: background .3s,color .3s;
	border-radius:2px;
	position:relative;
}

.Third-menu > li > a > i.icon {
	margin-right: 10px;
	float: left;
}

.Third-menu > li > a > label {
	display: block;
	cursor:pointer;
}

.Third-menu > li > a:hover {
	background: rgba(0,0,0,0.1);
}

.Third-menu > li > a.active {
	background: rgba(0,0,0,0.1);
}

/*右边*/
.page-right {
	margin-left: 200px;
	height: 100%;
}

.right-content {
	width: 100%;
	height: calc(100% - 30px);
	font-size:0;
}

.right-content #frm {
	border: none;
	width: 100%;
	height: 100%;
	
}

/*脚*/
.right-footer {
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#f8f8f8;
	color:#666;
	border-top:1px solid #ebebeb;
}


/*悬停提示*/
.ui.popup {
	background:#111;
	color:#fff;
	border:none;
}

.ui.popup:before {
	top:22px !important;
	background:#111 !important;
	box-shadow:none !important;
}
