html, body, .page {
	width: 100%;
	background: #fff;
	font-family: 'Microsoft YaHei';
}
.page {
	padding:10px;
	box-sizing:border-box;
}

body {
	min-width: 0;
}



/*搜索*/
.tab-search {
	background:#fff;
	width: 100%;
	border-radius: 5px;
	overflow:hidden;
}

.tab-search ul {
	padding: 0;
	margin: 0;
}

.tab-search ul:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.tab-search ul li {
	list-style: none;
	float: left;
	width: 20%;
	height: 38px;
	padding-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.tab-search ul li > .ui.input > .ui.label {
	min-width: 100px;
	text-align: center;
}

.ui.input.select > .ui.dropdown {
	border-radius: 0 .28571429rem .28571429rem 0;
}

/*快捷工具栏*/
.tab-tool {
	width: 100%;
	padding-bottom:10px;
	background:#fff;
}

/*列表*/
.tab-content {
	width: 100%;
	overflow:auto;
	border:1px solid rgba(34,36,38,.15);
	border-left:0;
	border-right:0;
	border-radius:.28571429rem;
}
.ui.table {
	margin:0;
	border-top:0;
	border-bottom:0;
}

.tab-content .ui.table tr th {
	word-wrap: break-word;
}

.tab-content .ui.table tr td, .tab-content .ui.table tr th {
	text-align: center;
}

.tab-content .table tr td .ui.checkbox {
}

.tab-content .table tr td .ui.checkbox label {
	padding: 0;
}

.txtSkip {
	width:60px;
	border:none !important;
	text-align:center !important;
	margin: 0 1px !important;
}

/*去除input的type="number"时候的默认样式*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/*分页选中样式*/

.tab-page {
	/*display:none;*/
	padding:5px;
	width: calc(100% - 20px);
	box-sizing: border-box;
	position: absolute;
	left: 10px;
	bottom: 10px;
	background:#ebebeb;
	border:1px solid rgba(34,36,38,.15);
	border-radius:0 0 .28571429rem .28571429rem;
}

#pagination > .item.active {
	font-weight: bold;
	/*color:#fff;*/
	background: #ccc;
}

@media only screen and (max-width:1366px) {
	.tab-search ul li {
		width: 25%;
	}
}

@media only screen and (max-width:1280px) {
	/*.tab-search ul li {
		width: 25%;
	}*/
}

@media only screen and (max-width:1024px) {
	.tab-search ul li {
		width: 33.3333333%;
	}

	.ui.table tr td, .ui.table tr th {
		text-align: left;
	}
}

@media only screen and (max-width:768px) {
	.tab-search ul li {
		width: 50%;
	}
}

@media only screen and (max-width:414px) {
	.tab-search ul li {
		width: 100%;
	}
}
