/*-----------------------------------左边菜单-----------------------------------------*/

/*左边菜单背景色*/
.left {
	/*background: #2A2D32;*/
}

/*一级菜单文字颜色*/
.menu-first {
	color: #fff;
}

/*鼠标悬停颜色（已选中菜单除外）*/
.menu-first:hover:not(.big-sed) {
	/*background: rgba(255,255,255,.2);*/
}

/*一级菜单选中颜色*/
.big-sed {
	/*background: rgba(255,255,255,.2);*/
	color:#fff;
	/*background: #212429;*/
}

/*一级菜单选中左边边框颜色*/
.big-sed:after {
	/*background:#2ECC71;*/
}

/*一级菜单右边图标颜色*/
.menu-first .more {
	color: #fff;
}

/*一级菜单右边图标颜色选中颜色*/
.big-sed .more {
	color:#ebebeb;
}

.menu-two {
	background:rgba(0,0,0,.1);
}

/*二级菜单图标颜色*/
.menu-two li a i.iconfont {
	color: #fff;
}
/*二级菜单字体颜色*/
.menu-two li a {
	color: #fff;
}

/*二级菜单鼠标悬停时图标颜色*/
.menu-two li a:not(.small-sed):hover i.iconfont {
	color: #2ECC71;
}

/*二级菜单鼠标悬停时文字颜色*/
.menu-two li a:not(.small-sed):hover {
	color: #2ECC71;
}

/*二级菜单选中时图标颜色*/
.small-sed i.iconfont {
	color: #2ECC71 !important;
}

/*二级菜单选中时文字颜色*/
.small-sed {
	color: #2ECC71 !important;
}


/*-----------------------------------------右边--------------------------------------------*/


/*-----------------------------------------底部--------------------------------------------*/
/*Footer背景颜色*/
.footer {
	background: #fff;
}

/*Footer文字颜色*/
.footer p {
	color: #666;
}
